<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">日付</th>
      <th scope="col">大項目</th>
      <th scope="col">中項目</th>
      <th scope="col">小項目</th>
      <th scope="col">支払方法</th>
      <th scope="col">実績</th>
      <th scope="col">C合計</th>
      <th scope="col">精算</th>
      <th scope="col">明細</th>
      <th scope="col">分析</th>
      <th scope="col">取引先</th>
      <th scope="col">内容</th>
    </tr>
  </thead>
  <tbody>
    <% @households.each do |h| %>
      <tr>
        <th scope="row"><%= h.id %></th>
        <td><%= h.entry_date %></td>
        <td><%= h.category %></td>
        <td><%= h.sub_category1 %></td>
        <td><%= h.sub_category2 %></td>
        <td><%= h.payment %></td>
        <td><%= number_to_currency(h.result, :unit => "¥",:precision => 0) %></td>
        <td><%= number_to_currency(h.sum_credit, :unit => "¥", :precision => 0) %></td>
        <td><%= h.check_out %></td>
        <td><%= h.detail %></td>
        <td><%= h.analysis %></td>
        <td><%= h.client %></td>
        <td><%= h.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>