<div class="container">
  <%= form_with model: @household, url: household_index_path do |form| %>
    <div class="form-group">
      <%= form.label :entry_date %>
      <%= form.date_field :entry_date, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= form.label :category %>
      <%= form.select :category, @categories.invert, {}, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :sub_category1 %>
      <%= form.number_field :sub_category1, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= form.label :sub_category2 %>
      <%= form.number_field :sub_category2, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= form.label :payment %>
      <%= form.select :payment,  Household.payments_i18n.keys.map { |k| [Household.payments_i18n[k], k]}, {}, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :result %>
      <%= form.number_field :result, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= form.label :sum_credit %>
      <%= form.number_field :sum_credit, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= form.label :check_out %>
      <%= form.number_field :check_out, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= form.label :detail %>
      <%= form.number_field :detail, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= form.label :analysis %>
      <%= form.number_field :analysis, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= form.label :client %>
      <%= form.text_field :client, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= form.label :content %>
      <%= form.text_field :content, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= form.submit "送信", :class => "btn btn-info" %>
    </div>
  <% end %>
</div>