<!doctype html>
<html lang="ja">
  <head>
    <title>予算管理 | FAM (Finantial Management)</title>
  </head>
  <body>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">大項目</th>
          <th scope="col">中項目</th>
          <th scope="col">小項目</th>
          <th scope="col">予算</th>
          <th scope="col">予算（前月）</th>
          <th scope="col">実績（前月）</th>
          <th scope="col">予算（前年同月）</th>
          <th scope="col">実績（前年同期）</th>
        </tr>
      </thead>
      <tbody>
        <% @budgets.each do |b| %>
          <tr>
            <th scope="row"><%= b.id %></th>
            <td><%= b.category %></td>
            <td><%= b.sub_category1 %></td>
            <td><%= b.sub_category2 %></td>
            <td><%= b.budget %>円</td>
            <td><%= b.budget_month_on_month %>円</td>
            <td><%= b.result_month_on_month %>円</td>
            <td><%= b.budget_year_on_year %>円</td>
            <td><%= b.result_year_on_year %>円</td>
          </tr>
        <% end %>
      </tbody>
    </table>    
  </body>
</html>